<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css" />
  <title>ultimate dace</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <h1 class="tituloUsuario"><%= name %></h1> 
      <a href="/estudiante/home"><button class="btn-3">volver al home</button></a> 
    </div>
    </header>
  <main class="centro">
    <div class="tituloDatos">
      <h1>tus datos </h1>
      </div>
      <div class="informacionDeDatos">
        <h1 class="huno">nombre:</h1>
        <h2 class="hdos"><%= name %></h2>
        <h1 class="huno">apellido:</h1>
        <h2 class="hdos"><%= lastname %></h2>
        <h1 class="huno">edad:</h1>
        <h2 class="hdos"><%= age %></h2>
        <h1 class="huno">correo:</h1>
        <h2 class="hdos"><%= email %></h2>
        <h1 class="huno">cedula:</h1>
        <h2 class="hdos"><%= cedula %></h2>
      </div>
  </main>
  <%- include('../../partials/footer.ejs'); %>
</body>
</html>