<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css" />
  <title>UltimateDace</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <h1 class="tituloUsuario"><%= name %></h1> 
      <a href="/estudiante/home"><button class="btn-3">Volver al Home</button></a> 
    </div>
    </header>
  <main class="centro CentroDatos">
    <div class="tituloDatos">
      <h1>Tus Datos Personales</h1>
      </div>
      <div class="informacionDeDatos">

  <table class="tabla" border="1">
  <tr>
    <td class="fila">Nombre</td>
    <td class="fila">Apellido</td>
    <td class="fila">Edad</td>
    <td class="fila">Cédula</td>
    <td class="fila">Correo</td>
  </tr>
  <tr class="fila">
    <td class="fila"><%=name%></td>
    <td class="fila"><%=lastname%></td>
    <td class="fila"><%=age%></td>
    <td class="fila"><%=cedula%></td>
    <td class="fila"><%=email%></td>
  </tr>
</table>

      </div>
  </main>
  <%- include('../../partials/footer.ejs'); %>
</body>
</html>
