<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/stylesHome.css">
  <title>Periodo</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <h1 class="tituloUsuario"><%= name %></h1> 
    <a href="/logout"><button class="btn-3">cerrar sesion</button></a> 
    <a href="/"><button class="btn-3">volver al home</button></a> 
  </div>
</header>
<main class="centro">
  <div class="inicioDePreeleccion ">
    <form action="/estudiante/preEleccion/periodo" method="post" class="formuPeriodo">
      <h3 class="TituloPerdiodo">Seleccione el Periodo</h3>
      <select name="select" class="seleccionDePeriodo">
        <option  selected disabled >Elige el periodo</option>
        <option value="activo">Mar - Jul 2024-2</option>
        <option value="inactivo">Oct - Feb 2025-1</option>
      </select>
      <% if (proceso) { %>
        <div class="afirmativo">
          <p class="p_Procedimiento"><%= estatus %></p>
          <p class="p_Procedimiento">Maravilloso, procedamos al apartado de <a class="botonLink" href="/estudiante/preEleccion/SemestreEleccion">Selección de semestre</a></p>
        </div>
      <% } %>
      <% if (!proceso) { %>
        <p><%= estatus %></p>
      <% } %>
      <button type="submit" class="btn_1">Listo</button>
    </form>
  </div>
</main>
</body>
<%- include('../../partials/footer.ejs'); %>
</html>