<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../.././stylesheets/stylesHome.css">
  <title>Document</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <a href="/logout"><button class="btn-3">cerrar sesion</button></a> 
    <a href="/"><button class="btn-3">volver al home</button></a> 
  </div>
</header>
<main class="centro CentroSeleccion">
<div class="tituloDeSeleccion">
  <h1>Bienvenido a la seleccion de materia</h1>
</div>
<div class="centroSeleccionDeMateria">
  <h2 class="SubtituloSeleccion">selecciona las materias que quieres ver</h2>
  <h2 class="SubtituloSeleccion">(ten en cuenta las unidades de credito,tienes <%= ud %>)</h2>
  <form action="/estudiante/preEleccion/seleccion" method="post" class="formularioSeleccion">
  <%for (const i in arreglo) {%>
    <div class="mostrandoMateria">
      <input type="checkbox" class="check" name="<%= arreglo[i].materia %>" value="<%= arreglo[i].unidadCredito %>"><%= arreglo[i].materia %>
    </div>
  <%}%>
    <button class="btn_1" type="submit">confirmar</button>
</form>
</div>
</main>
<%- include('../../partials/footer.ejs'); %>
</body>
</html>