<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css">
  <title>Document</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
  <div class="encabezados Centro">
    <h1 class="tituloUsuario"><%= AdminName %></h1> 
    <a href="/administrador/home"><button class="btn-3">volver al home</button></a> 
  </div>
  </header>
  <main class="centroPreResultados">
    <div class="TituloInfo">
      <h1>datos del estudiante</h1>
      </div>
      <div class="datosEstudiante">
        <div class="mostrandoMateria">
          <h2 class="NombreMaterias"> nombre :<%= estudiante[0].name%></h2>
          </div>
          <div class="mostrandoMateria">
            <h2 class="NombreMaterias"> apellido : <%= estudiante[0].lastname%></h2>
            </div>
            <div class="mostrandoMateria">
            <h2 class="NombreMaterias"> edad :<%= estudiante[0].age%></h2>
          </div>
          <div class="mostrandoMateria">
            <h2 class="NombreMaterias"> correo : <%= estudiante[0].email%></h2>
          </div>
      </div>
      <a href="/administrador/home"><button class="btn_1">volver al home</button></a>
  </main>
  <%- include('../../partials/footer.ejs'); %>
</body>
</html>