<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css">
  <title>Eliminación de Materias</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <h1 class="tituloUsuario"><%= adminName %></h1> 
      <a href="/administrador/home"><button class="btn-3">Volver al Home</button></a> 
    </div>
    </header>
    <main class="centroOpciones">
      <div class="tituloDatos">
        <h1>Menú de Eliminación de Materias</h1>
      </div>
      <form action="" method="post" class="formu">
        <div class="contenedorOpciones ContenedorEliminar">
          <div class="username">
          <input class="inpust" type="text" name="Materia" required />
          <label class="labe">Nombre de la Materia a <strong>Eliminar</strong></label>
        </div>
        <select name="semestre" class="seleccionDePreResultados">
          <option selected disabled>Selecciona el Semestre</option>
          <option value="1">Primer Semestre</option>
          <option value="2">Segundo Semestre</option>
          <option value="3">Tercer Semestre</option>
          <option value="4">Cuarto Semestre</option>
          <option value="5">Quinto Semestre</option>
          <option value="6">Sexto Semestre</option>
          <option value="7">Séptimo Semestre</option>
          <option value="8">Octavo Semestre</option>
          <option value="9">Noveno Semestre</option>
          <option value="10">Décimo Semestre</option>
        </select>
        <div class="formuAbajo">
        <button type="submit" class="btn_1"><strong>Eliminar</strong></button>
        </div>
        </div>
      </form>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButtom: '<%= showConfirmButtom %>',
          timer: '<%= timer %>'
        }).then(() => {
          window.location = '/<%= ruta %>';
        })
      </script>
      <% } %>
    <%- include('../../partials/footer.ejs'); %>
</body>
</html>
