<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css">
  <title>Creación de Materias</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <h1 class="tituloUsuario"><%= adminName %></h1> 
      <a href="/administrador/home"><button class="btn-3">volver al home</button></a> 
    </div>
    </header>
    <main class="centroOpciones">
      <div class="tituloDatos">
        <h1>Menú de Creación de Materias</h1>
        </div>
        <div class="contenedorOpciones OP">
          <form action="/administrador/Materia/Ingresar" method="post" class="formu">
            <div class="username">
              <input class="inpust" type="text" name="CodigoMateria" required />
              <label class="labe">Código de la Materia</label>
            </div>
            <div class="username">
              <input class="inpust" type="text" name="Materia" required />
              <label class="labe">Nombre de la Materia a Asignar</label>
            </div>
            <div class="username">
              <input class="inpust" type="number" name="unidadCredito" required />
              <label class="labe">Unidades de creditos de la Materia</label>
            </div>
            <select name="semestre" class="seleccionDePreResultados">
              <option selected disabled>Selecciona el Semestre Correspondiente</option>
              <option value="1">Primer Semestre</option>
              <option value="2">Segundo Semestre</option>
              <option value="3">Tercer Semestre</option>
              <option value="4">Cuarto Semestre</option>
              <option value="5">Quinto Semestre</option>
              <option value="6">Sexto Semestre</option>
              <option value="7">Séptimo Semestre</option>
              <option value="8">Octavo Semestre</option>
              <option value="9">Noveno Semestre</option>
              <option value="10">Décimo Semestre</option>
            </select>
            <div class="formuAbajo">
              <button type="submit" class="btn_1">Guardar Registro</button>
            </div>
          </form>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text: '<%= alertMessage %>',
          icon: '<%= alertIcon %>',
          showConfirmButtom: '<%= showConfirmButtom %>',
          timer: '<%= timer %>'
        }).then(() => {
          window.location = '/<%= ruta %>';
        })
      </script>
      <% } %>
    <%- include('../../partials/footer.ejs'); %>
</body>
</html>
