<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../.././stylesheets/stylesHome.css">
  <title>Proceso de Eliminación</title>
</head>
<body>
  <%- include('../../partials/header.ejs'); %>
    <div class="encabezados Centro">
      <a href="/estudiante/home"><button class="btn-3">Volver al Home</button></a> 
    </div>
    </header>

<main class="Centroeliminacion">
  <div class="tituloDatos">
    <h1>Proceso de <strong>Eliminación</strong></strong></h1>
  </div>
  <div class="InfoEliminarCuenta">
    <h1>¿Está Seguro de que desea <strong>Eliminar tu cuenta</strong>?</h1>
    <h2>(Ingrese el Correo para confirmar la eliminación de su cuenta)</h2>
    <form action="/estudiante/home/eliminarCuenta" method="post" class="formu formuelimi">
      <div class="username elimi">
        <input class="inpust" type="text" name="email" required />
        <label class="labe">Correo</label>
      </div>
      <div class="formuAbajo">
      <button type="submit" class="btn_1 botonEliminar"><strong>Eliminar cuenta</strong></button>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(typeof alert != "undefined") { %>
  <script>
    Swal.fire({
      title: "<%= alertTitle %>",
      text: "<%= alertMessage %>",
      icon: "<%= alertIcon %>",
      showConfirmButtom: "<%= showConfirmButtom %>",
      timer: "<%= timer %>",
    }).then(() => {
      window.location = "/<%= ruta %>";
    });
  </script>
  <% } %> 
</main>
<%- include('../../partials/footer.ejs'); %>
</body>
</html>